/.build
/.idea
/auxil/
/out/
/docs/latex/helios_prototype/Shellsort.ind
/docs/latex/helios_prototype/content/conclusion.tex
/docs/latex/helios_prototype/content/empirical.tex
/docs/latex/helios_prototype/content/introduction.tex
/docs/latex/helios_prototype/content/runtimeanalysis.tex
/docs/latex/helios_prototype/content/worstcaseanalysis.tex
/external/doxygen/
/external/graphviz/
/docs/api/
